<div class="col-md-6 pb-4 py-2" align="center">
    <div class=" p-5 bg-light border rounded-3">
        <h2>Cadastrar Produto</h2>
        <p>Cadastrar um produto no estoque de insumos da ContÁgil.</p>
        <a href="/createProduct"><button class="btn btn-outline-secondary" type="button">Acessar</button></a>
    </div>
</div>