<main>

    <div class="alert alert-success" role="alert">
    Produto adicionado com sucesso.
    </div>

    <div class="container py-3">
        <header class="pb-3 mb-3 border-bottom">
            <a href="/home" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="img/logo.svg" alt="" width="40" height="32" title="ContÁgil">
                <span class="fs-4">InventÁgil</span>
            </a>
        </header>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/estoque">Estoque</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cadastrar Produto</li>
            </ol>
        </nav>

        <form class="row g-3 needs-validation" method="POST" action="/adicionarProduto">

            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Produto" name="produto"
                        required>
                    <label for="floatingInput">Produto</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" placeholder="Quantidade"
                        name="quantidade" required>
                    <label for="floatingInput">Quantidade</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Marca" name="marca"
                        required>
                    <label for="floatingInput">Marca</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating" name="select" required>
                    <select class="form-select ">
                        <option value="Pepelaria">Pepelaria</option>
                        <option value="Informática">Informática</option>
                        <option value="Limpeza">Limpeza</option>
                    </select>
                </div>
            </div>
            <div class="col-12 d-grid">
                <button class="btn btn-primary" type="submit">Cadastrar Produto</button>
            </div>
        </form>

        <footer class="pt-3 mt-4 text-muted border-top">
            &copy; ContÁgil 2022
        </footer>
    </div>
</main>