<form action="/receberCadastroProduto" method="POST">
    <p>Produto: </p>
    <input type="text" name="product">
    <p>Quantidade: </p>
    <input type="number" name="quantity"><br>
    <button type="submit" name="botaoCadastro">Cadastrar Produto</button>
</form>