<main>
    <div class="container py-3">
        <header class="pb-3 mb-3 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="./img/logo.svg" alt="" width="40" height="32" title="ContÁgil">
                <span class="fs-4">Início</span>
            </a>
        </header>
        <div class="row align-items-md-stretch pb-4 py-2">
            <div class="col-md-6 pb-4 py-2">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>~Teste</h2>
                    <p>asdfghjklç.</p>
                    <a href="/boletos_vt"><button class="btn btn-outline-light" type="button">Acessar</button></a>

                </div>
            </div>
            <div class="col-md-6 pb-4 py-2">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Teste2</h2>
                    <p>qwertyuiop.</p>
                    <a href="/passelegal"><button class="btn btn-outline-secondary" type="button">Acessar</button></a>
                </div>
            </div>
            <div class="col-md-6 pb-4 py-2">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>teste3</h2>
                    <p>zxcvbnm</p>
                    <a href="/rhid"><button class="btn btn-outline-secondary" type="button">Acessar</button></a>
                </div>
            </div>
        </div>
        <footer class="pt-3 mt-4 text-muted border-top">
            &copy; ContÁgil 2022
        </footer>
    </div>
</main>