<%- include ('partials/head.ejs') %>

<main>
    <div class="container py-3">
        <header class="pb-3 mb-3 border-bottom" >
            <div class="d-flex justify-content-between">
                <div>
                    <a href="/home" class="d-flex align-items-center text-dark text-decoration-none">
                        <img src="./img/logo.svg" alt="" width="40" height="32" title="ContÁgil">
                        <span class="fs-4">Início</span>
                    </a>
                </div>
        
                <div>
                    <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
                </div>
            </div>
        </header>
        
        <div class="row align-items-md-stretch pb-4 py-2">
            <div class="col-md-6 pb-4 py-2">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>InventÁgil</h2>
                    <p>Acessar o estoque de insumos da ContÁgil</p>
                    <a href="/estoque"><button class="btn btn-outline-light" type="button">Acessar</button></a>

                </div>
            </div>
            <!--
            <div class="col-md-6 pb-4 py-2">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Cadastrar Produto</h2>
                    <p>Cadastrar um produto no estoque de insumos da ContÁgil.</p>
                    <a href="/estoqueCriar"><button class="btn btn-outline-secondary" type="button">Acessar</button></a>
                </div>
            </div>
            -->
            <div class="col-md-6 pb-4 py-2">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>AgendadorATF</h2>
                    <p>Acessar o AgendadorATF da contÁgil</p>
                    <a href=""><button class="btn btn-outline-secondary" type="button">Acessar</button></a>
                </div>
            </div>
        </div>
        <%- include ('partials/footer.ejs') %>
    </div>
</main>