<%- include ('partials/head.ejs') %>

<body>
<div class="div-class-conteiner">
    <div class="text-center mt-5">
        <form style="max-width: 300px; margin: auto;" action="/auth" method="POST">
            <img class="mt-4" src="./img/logo.svg" alt="" height="72" />
            <h1 class="h3 mb-3 font-weight-normal">InventÁgil</h1>
            
            <input type="text" name="usernameInput" id="usuario" class="form-control mt-3" placeholder="Usuário" required autofocus>
            
            <input type="password" name="passwordInput" id="senha" class="form-control mt-3" placeholder="Senha" required autofocus>
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>

</html>